<div class="backloader ng-hide" ng-show="loader.showLoader()">
    <div class="loader">
        <div class="loader-content">
            <div class="loader-header">
                <i class="fa fa-3x fa-circle-o-notch fa-spin "></i>
                <h4>Cargando</h4>
            </div>
            <hr />
            <div class="loader-body" ng-init="loaderDetails = true">
                <button class="btn btn-link btn-xs pull-right" ng-click="loaderDetails = !loaderDetails">Detalles</button>
                <small class="text-muted">Esperando <strong ng-bind="loader.count()"></strong> proceso(s):</small>
                <ul class="loader-processes" uib-collapse="loaderDetails">
                    <li ng-repeat="process in loader.getProcesses()">
                        <small ng-bind="process.Message"></small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>