<div class="page-header">
    <h1>Cambiar contraseña</h1>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <form name="changePasswordForm" ng-submit="changePassword()" ng-validate="changePasswordForm" novalidate>
            <div class="form-group" data-valid="oldpassword">
                <label class="control-label">Contraseña anterior *</label>
                <input class="form-control" type="password" name="oldpassword" ng-model="passRequest.OldPassword" minlength="6" maxlength="20" required />
                <small class="help-block required-text">Campo requerido</small>
                <small class="help-block minlength-text">Tamaño mínimo 6 caracteres</small>
                <small class="help-block maxlength-text">Tamaño máximo 20 caracteres</small>
                <small class="help-block pattern-text">Debe contener al menos una mayúscula, una minúscula y un número</small>
            </div>
            <div class="form-group" data-valid="newpassword">
                <label class="control-label">Nueva contraseña *</label>
                <input class="form-control" type="password" name="newpassword" ng-model="passRequest.NewPassword" minlength="6" maxlength="20" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$" required />
                <small class="help-block required-text">Campo requerido</small>
                <small class="help-block minlength-text">Tamaño mínimo 6 caracteres</small>
                <small class="help-block maxlength-text">Tamaño máximo 20 caracteres</small>
                <small class="help-block pattern-text">Debe contener al menos una mayúscula, una minúscula y un número</small>
            </div>
            <div class="form-group" data-valid="confirmpassword">
                <label class="control-label">Confirmar contraseña *</label>
                <input class="form-control" type="password" name="confirmpassword" ng-model="passRequest.ConfirmPassword" minlength="6" maxlength="20" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$" required />
                <small class="help-block required-text">Campo requerido</small>
                <small class="help-block minlength-text">Tamaño mínimo 6 caracteres</small>
                <small class="help-block maxlength-text">Tamaño máximo 20 caracteres</small>
                <small class="help-block pattern-text">Debe contener al menos una mayúscula, una minúscula y un número</small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar
                </button>
                <a class="btn btn-default" href="#/profile">
                    <i class="fa fa-times"></i> Cancelar
                </a>
            </div>
        </form>
    </div>
</div>