<div class="page-header">
    <h1>Inicio</h1>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
        <a href="#/currentroutine" class="link-unstyled">
            <div class="well well-sm text-center">
                <i class="fa fa-list-alt fa-4x"></i>
                <h3>Rutina Actual</h3>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3">
        <a href="#/historyroutine" class="link-unstyled">
            <div class="well well-sm text-center">
                <i class="fa fa-clock-o fa-4x"></i>
                <h3>Historial de Rutinas</h3>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3">
        <a href="#/progress" class="link-unstyled">
            <div class="well well-sm text-center">
                <i class="fa fa-line-chart fa-4x"></i>
                <h3>Mi Progreso</h3>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3">
        <a href="#/profile" class="link-unstyled">
            <div class="well well-sm text-center">
                <i class="fa fa-user fa-4x"></i>
                <h3>Mi Perfil</h3>
            </div>
        </a>        
    </div>
</div>